<div class="container vcenter">
  <img src="assets/Alex.png" class="img-circle delay avatar" alt="Alex"></img>
  <br>
  <br>
  <h2>
    <span class="delay-name">Alexander Parkhamovich</span>
  </h2>
  <p>
    <span class="letter">Musician.</span>
    <span class="letter">WebDev.</span>
    <span class="letter">SexMachine.</span>
    <span class="letter">DriftKing.</span>
    <span class="letter">BigBelarussianBoss.</span>
  </p>
  <br>

  <div class="social-links delay">
    <h4>Social Links</h4>
    <ul class="social-networks square spin-icon">
      <li><a href="https://twitter.com/a_parkhamovich" class="icon-twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/alexparkham" class="icon-facebook">Facebook</a></li>
      <li><a href="https://www.instagram.com/alex_parkhamovich/" class="icon-instagram">Instagram</a></li>
      <li><a href="https://github.com/alex-parkhamovich" class="icon-github">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/alexander-parkhamovich-7134a312b"
             class="icon-linkedin">LinkedIn</a></li>
    </ul>
    <br>
    <br>
    <p>Malibu88 Inc. © 2016</p>
  </div>
</div>