<video id="bgvid" playsinline autoplay muted loop>  
  <source src="https://static.videezy.com/system/resources/previews/000/002/513/original/Smoke.mp4">
  <source src="https://static.videezy.com/system/resources/previews/000/002/513/original/Smoke.mp4">
</video>
<div class="container vcenter">
  <img src="https://lh3.googleusercontent.com/ZpH17EbfuYDddUsype90HjbKWQqrfeCX19XCXOomZ3cco8VtGWOTIAJm1HaIGZ-GO1H51Nkvs6y36nt5bQLMrWmSjDt7HSckGKHKXIe2OtaA_VWDMNW4EtInLLgLvdX86Va9Y8Nl4zh7WTWAkeW_Q41affl2dhnR1uFDW3egddnTexLfVCNXPiB6SwO0B3xbhi0zdLsw-bN_TgkPEKATpIY053VT1_DlD4gOlHwf2-D7ROjZyUc__m4eAr7oasE3FbQihbaDa7IztQhMd-nLkScBuKaG2qjuHp4A9LscCmDbWx01XMFe9-5Me2ntVha4kvizXhIplPAIgUQY1GrYv1ij1M5Ovlq9kAK6mSYcsxJ14GNHf7-2_EFi4Kjh3iVwfHfyPFFqTVYnj1NHdmxWBQ4MIpjPlQFJjcXu5rUOk_pnc0CjyKHk20fhgXSg2Gw1FHBJNyqxOO-mD1nPDqn0TmwE92hwelrGt6XxhXXVaaoJOQb7LBQ7S-cmiXC5q8swXjaeHZNej3T3SWn9kTTYmS4CWmy74HGnTITPEWpIf-TG2vWOyRK-Bm6Q35HbDtJtMGUs0ke6kReenRti9hSF72DNIU70Mg26pjYIihhhDSLRZlP2=w1202-h1200-no" class="img-circle delay avatar" alt="Alex"></img>
  <br>
  <br>
  <h2>
    <span class="delay-name">Alexander Parkhamovich</span>
  </h2>
  <p>
    <span class="letter">Musician.</span>
    <span class="letter">WebDev.</span>
    <span class="letter">SexMachine.</span>
    <span class="letter">DriftKing.</span>
    <span class="letter">BigBelarussianBoss.</span>
  </p>
  <br>

  <div class="social-links delay">
    <h4>Social Links</h4>
    <ul class="social-networks square spin-icon">
      <li><a href="https://twitter.com/a_parkhamovich" class="icon-twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/alexparkham" class="icon-facebook">Facebook</a></li>
      <li><a href="https://www.instagram.com/alex_parkhamovich/" class="icon-instagram">Instagram</a></li>
      <li><a href="https://github.com/alex-parkhamovich" class="icon-github">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/alexander-parkhamovich-7134a312b"
             class="icon-linkedin">LinkedIn</a></li>
    </ul>
    <br>
    <br>
    <p>Malibu88 Inc. © 2016</p>
  </div>
</div>